.overlay-color {
	background-color: #383b40 !important;
	color: #eaeacc !important;
}

.input-overlay {
	background-color: #383b40 !important;
	color: #eaeacc !important;
	border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-overlay::placeholder {
	color: #eaeacca9 !important;
}

.button-overlay {
    outline: none !important;
    background: transparent !important;
    border: 1px solid transparent !important;
}

.overlay-container {
    box-shadow: 0 0 10px #000;
}
